{{ form_start(form) }}

{% form_theme form 'EOETicketBundle:Form:datePickerForm.php.twig' %}

<div class="step-booking-date" style="display: block">

    {{ form_label(form.date, "Choisissez une date de réservation", {'label_attr':{'class': 'label-control'}}) }}

    {{ form_errors(form.date) }}

    {{ form_widget(form.date) }}

    <div class="row">
        <div class="dateinfo purchase-flow-border col-lg-12 text-center" style="display: none">
            <p class="booking-date-info"></p>
            <p class="available-place-info"></p>
        </div>
    </div>

</div>

{# form_widget(form.save) #}

{{ form_rest(form) }}

{{ form_end(form) }}