
<div class="step-booking">
    <label class="col-sm-12 my-label-style required">Choisissez une date de réservation</label>
    <div class="col-sm-12">
        {{ form_errors(form.dtVisitor) }}
    </div>
    <div class="col-sm-12">
        {{ form_widget(form.dtVisitor) }}
    </div>
    <div class="col-sm-12">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="dateinfo text-default label-warning purchase-flow-border col-lg-12 text-center" style="display: none">
            <p class="booking-date-info"></p>
            <p class="available-place-info"></p>
        </div>
    </div>

    <label class="col-sm-12 my-label-style required">Choisissez le type de réservation</label>
    <div class="col-sm-12 text-center">
        {{ form_widget(form.bookingType) }}
    </div>
    <div class="col-sm-12">
        {{ form_errors(form.bookingType) }}
    </div>

    <div class="form-group coordonnees">
        <label class="col-sm-12 my-label-style required">Vos coordonnées</label>
        {% if form.name.vars.valid  %}
            {% set valid1_css = 'has-success' %}
        {% else %}
            {% set valid1_css = 'has-error' %}
        {% endif %}
        <div class="form-group {{ valid1_css }}">
            {{ form_label(form.name, "Nom", {'label_attr':{'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
             {{ form_widget(form.name, {'attr':{'class': 'form-control name'}}) }}
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_errors(form.name) }}
            </div>
        </div>
        {% if form.surname.vars.valid  %}
            {% set valid2_css = 'has-success' %}
        {% else %}
            {% set valid2_css = 'has-error' %}
        {% endif %}
        <div class="form-group {{ valid2_css }}">
            {{ form_label(form.surname, 'Prénom', {'label_attr':{'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.surname, {'attr':{'class': 'form-control surname'}}) }}
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_errors(form.surname) }}
            </div>
        </div>
        {% if form.email.vars.valid  %}
            {% set valid3_css = 'has-success' %}
        {% else %}
            {% set valid3_css = 'has-error' %}
        {% endif %}
        <div class="form-group {{ valid3_css }}">
            {{ form_label(form.email, 'Email', {'label_attr':{'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.email, {'attr':{'class': 'form-control email'}}) }}
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_errors(form.email) }}
            </div>
        </div>
        {% if form.dtBirth.vars.valid  %}
            {% set valid4_css = 'has-success' %}
        {% else %}
            {% set valid4_css = 'has-error' %}
        {% endif %}
        <div class="form-group {{ valid4_css }}">
            {{ form_label(form.dtBirth, 'Date de naissance', {'label_attr':{'class': 'col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.dtBirth) }}
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_errors(form.dtBirth) }}
            </div>
        </div>
    </div>
    <div class="step-buttons-container row">
        <button class="btn btn-style nextBtn btn-lg pull-right" type="button">Continuer</button>
    </div>
</div>

<div class="step-tickets ">
    <!--div class="row"-->
        <label class="col-sm-12 my-label-style required">Vos tickets</label>
    <div class="col-sm-12">
        {{ form_errors(form.tickets) }}
    </div>
    <!--/div -->
    <div class="row">
            {{ form_widget(form.tickets, {'attr':{'class': 'col-sm-12'}}) }}
    </div>

    <div class="row">
        <div class="col-sm-offset-8 col-sm-4 col-xs-12 text-center">
            <div class="container-fluid invoice-container theme-color-normal ">
                <div class="row">
                    <div class="col-sm-6 ">Total (H.T)</div><div id="invoiceFT" class="col-sm-6">0.00 €</div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ">T.V.A (20%)</div><div id="saleTax" class="col-sm-6 ">0.00 €</div>
                </div>
                <div class="row total-size">
                    <div class="col-sm-6 ">Total</div><div id="invoiceTotal" class="col-sm-6 ">0.00 €</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-warning btn-lg addBtn col-sm-12" type="button">Nouveau ticket</button>
    </div>
    <div class="step-buttons-container row">
        <button class="btn btn-style previousBtn btn-lg pull-left" type="button">Retour</button>
        {{  form_widget(form.save, {'attr': {'class': 'btn btn-style nextBtn btn-lg pull-right'}}) }}
    </div>
</div>