
{% use 'bootstrap_3_layout.html.twig' %}

{# ---- date_picket widget ---- #}
{%- block _eo_eticketbundle_booking_dtVisitor_date_widget -%}
    <div {{ block('attributes') }} ></div>
    <input type="hidden" {{ block('widget_attributes') }} />
{%- endblock _eo_eticketbundle_booking_dtVisitor_date_widget -%}


{# ---- booking choice types widget ---- #}
{%- block booking_button_widget -%}
    {% if is_active %}
        {%- set optional_class = 'active btn-success' -%}
        {{ app.session.set('default_value', choice.value) }}
    {% else %}
        {%- set optional_class = 'btn-default' -%}
    {% endif %}
    {% set button_id =  id ~'_'~ loop.index0 %}
    <button class="btn booking-choice-btn {{ optional_class }}" type="{{ type|default('button') }}" id="{{ button_id }}" name="{{ full_name }}" {{ block('attributes') }} value="{{ choice.value }}">{{ choice.label }}</button>
{%- endblock -%}

{%- block booking_choice_options -%}
    {%- set options = choices -%}
    {% for group_label, choice in options %}
        {% set is_active = loop.first %}
        {{- block('booking_button_widget') -}}
 {% endfor %}
{%- endblock booking_choice_options -%}

{%- block _eo_eticketbundle_booking_bookingType_widget -%}
    {% spaceless %}
        <div class="btn-toggle" id="{{ id ~'_choice' }}">
            {{ block('booking_choice_options') }}
            <input type="hidden" {{ block('widget_attributes') }} value = "{{ app.session.get('default_value') }}" />
        </div>
    {% endspaceless %}
{%- endblock _eo_eticketbundle_booking_bookingType_widget -%}