<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/eoeticket/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/eoeticket/components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">

        <!-- Theme CSS -->
        {% stylesheets 'bundles/eoeticket/css/style.css' %}
             <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}
</head>

<body>

    {#  include 'EOETicketBundle:sections:header.html.twig' #}

    <!-- Content Body -->
    <div class="container-fluid">
        <div class="row">
            <!-- Purchase Flow Contain -->
            <div class="purchase-flow purchase-flow-border col-lg-offset-1 col-lg-7 col-md-9 col-sm-8">
                <div class="purchase-header">
                    <ol class="step-names list-inline">
                        <li class="active">Panier</li>
                        <li>Coordonnées</li>
                        <li>Paiement</li>
                        <li>Confirmation</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="form-container col-lg-12">
                        {%  block form %}{% endblock %}
                    </div>
                </div>
            </div>
{#
            {% include 'sections/sidebar.html.twig' %}
#}
        </div>
    </div>

    {% include 'EOETicketBundle:sections:footer.html.twig' %}



    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/eoeticket/components/moment/min/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/eoeticket/components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/eoeticket/components/moment/min/locales.min.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ asset('bundles/eoeticket/components/jquery/jquery.min.js' ) }}"></script>
    <script src="{{ asset('bundles/eoeticket/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/eoeticket/components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Main menu sticky JavaScript -->
    <!--
    <script src="/js/my-sticky.js"></script>
    -->

    {% block js %}{% endblock %}

</body>

</html>